<div class="flex items-center" *ngIf="isLoggedIn()">

  <a mat-button routerLink="armies" color="secondary" class="mr-2">
    <mat-icon fontIcon="menu"></mat-icon>
    Armies
  </a>

  <!-- Small Screen -->
  <button mat-icon-button [matMenuTriggerFor]="menu1" aria-label="User Menu">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #menu1="matMenu">
    <div class="px-3 py-1 text-muted">{{username()}}</div>
    <button type="button" mat-menu-item (click)="signout()">
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </mat-menu>

  <!-- Large Screen -->
  <!-- <button mat-flat-button [matMenuTriggerFor]="menu2" class="!hidden md:!inline-block flex items-center">
    <mat-icon fontIcon="person"></mat-icon>
    <span>{{username()}}</span>
  </button>
  <mat-menu #menu2="matMenu">
    <button type="button" mat-menu-item (click)="signout()">
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </mat-menu> -->

</div>
