<ng-container *ngIf="isLoggedIn()">

  <a mat-button routerLink="armies" color="secondary" class="me-2">
    <mat-icon fontIcon="menu"></mat-icon>
    Armies
  </a>

  <button mat-flat-button [matMenuTriggerFor]="menu">
    <img [src]="avatarUrl()" alt="User Avatar" *ngIf="avatarUrl()" class="user-avatar">
    <mat-icon fontIcon="person" *ngIf="!avatarUrl()"></mat-icon>
    {{username()}}
  </button>
  <mat-menu #menu="matMenu">
    <button type="button" mat-menu-item (click)="signout()">Logout</button>
  </mat-menu>

</ng-container>
