@use '@angular/material' as mat;

@include mat.core();

:root {
  --my-app-background: white;
}

$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$red-palette
    // secondary: mat.$brown-palette,
    // tertiary: mat.$grey-palette
  ),
  typography: (
    brand-family: 'Montserrat',
    plain-family: 'Montserrat',
    bold-weight: 900
  ),
  density: (
    scale: -5
  )
));

.main-theme {
  @include mat.core-theme($theme);
  @include mat.all-component-themes($theme);
  @include mat.button-density(0);
  @include mat.expansion-density(0);
}


@import "material-variants";
