<div class="flex items-center md:p-8 p-6 h-full lg:w-11/12 lg:ml-auto">

  <form class="max-w-lg w-full mx-auto space-y-4" [formGroup]="form" (ngSubmit)="submit()">
      
    <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4" role="alert" *ngIf="error()">
      <p class="font-bold !mb-0">Error</p>
      <p class="!mb-0">{{ error() }}</p>
    </div>
    <div class="bg-green-100 border-l-4 border-green-500 text-green-700 p-4" role="alert" *ngIf="success()">
      <p class="font-bold !mb-0">Success</p>
      <p class="!mb-0">Successfully sent reset password to email address</p>
    </div>
    
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <h2 class="mt-2 text-center text-2xl/9 font-bold tracking-tight text-gray-900">Create your account</h2>
    </div>

    <div class="block !mt-10">
      <label for="email" class="text-gray-700">Email address</label>
      <input type="email" class="mt-1 block w-full rounded border-gray-300 shadow-sm focus:border-primary-300 focus:ring focus:ring-primary-200 focus:ring-opacity-50" id="email" formControlName="email">
      <div class="form-text text-danger" *ngIf="form.get('email')!.invalid && form.get('email')!.touched">
        Email is required and must be a valid email.
      </div>
    </div>

    <button class="btn-primary min-w-16" type="submit" [disabled]="form.invalid">
      <output *ngIf="busy.submit()">
        <app-spinner></app-spinner>
      </output>
      <span>Request Password Reset</span>
    </button>

    <div class="text-center mt-8">
      <p class="text-gray-600">Click to return to the <a [routerLink]="['/login']" class="text-blue-600 hover:text-blue-500">Login Screen</a></p>
    </div>