<div class="max-w-screen-lg mx-auto px-4">
  <div class="grid grid-cols-1 gap-3 sm:grid-cols-2 md:grid-cols-3 md:gap-4 lg:grid-cols-4">
    <div
      *ngFor="let visualiser of visualiser.visualizers"
      [ngClass]="{
        '': visualiser.groupable,
        'col-span-full': !visualiser.groupable
      }"
    >
      <!-- Display the header for the requirement -->
      <div class="text-sm font-semibold !text-gray-600 mb-2">
        {{ visualiser.title }}
      </div>

      <div [ngClass]="{
        '': visualiser.groupable,
        'grid grid-cols-1 gap-3 sm:grid-cols-2 md:grid-cols-3 md:gap-4 lg:grid-cols-4': !visualiser.groupable
      }">

        <!-- Render filled units as cards -->
        <ng-container *ngFor="let unit of visualiser.units()">
          <button type="button" class="flex items-center w-full h-16 rounded bg-gray-800 border border-gray-600 px-3 shadow cursor-pointer" (click)="editUnit(unit)">
            <div class="flex-1 overflow-hidden">
                <div class="text-sm font-semibold text-gray-300 truncate w-full text-left mb-1">{{unit.selector!.name}}</div>
                <div class="flex justify-between items-center">
                  <div>
                    <span class="text-xs text-gray-300 mr-2">{{unit.men != null ? unit.men + ' ' + (unit.men == 1 ? 'man' : 'men' ) : 'Model'}}</span>
                    <span class="text-xs text-gray-300 bg-gray-600 rounded-sm px-2 py-0.5">{{unit.experience}}</span>
                  </div>
                  <span class="text-sm text-gray-200">{{unit.cost | number}} Pts</span>
                </div>
            </div>
          </button>
        </ng-container>

        <!-- Render mandatory slots as buttons -->
        <ng-container *ngFor="let slot of visualiser.slots()">
          <div class="text-sm">
            <button #mandatoryButton
              *ngIf="slot.isMandatory; else optionalButton"
              color="primary"
              class="w-full btn-primary h-16 shadow"
              [matMenuTriggerFor]="unitMenu"
            >
              Add Unit
            </button>
            <ng-template #optionalButton>
              <button color="primary" class="w-full h-16 btn bg-gray-100 hover:bg-gray-50 hover:text-primary-800 shadow" [matMenuTriggerFor]="unitMenu" >
                Add Unit <span *ngIf="slot.upToQty > 1">(+{{slot.upToQty}})</span>
              </button>
            </ng-template>
          </div>
          <mat-menu #unitMenu="matMenu" class="!bg-gray-50">
            <button
              mat-menu-item
              *ngFor="let selector of visualiser.availableUnitSelectors"
              (click)="addUnit(visualiser, selector)"
            >
              {{ selector.name }} <!-- Assuming each selector has a 'name' property -->
            </button>
          </mat-menu>
        </ng-container>
      </div>
    </div>
  </div>
</div>
