<div class="max-w-screen-lg mx-auto px-4">
  <div class="grid grid-cols-4 gap-4">
    <div
      *ngFor="let visualiser of visualiser.visualizers"
      [ngClass]="{
        '': visualiser.groupable,
        'col-span-full': !visualiser.groupable
      }"
    >
      <!-- Display the header for the requirement -->
      <div class="text-sm font-semibold !text-slate-600 mb-2">
        {{ visualiser.title }}
      </div>

      <div [ngClass]="{
        '': visualiser.groupable,
        'grid grid-cols-4 gap-4': !visualiser.groupable
      }">

        <!-- Render filled units as cards -->
        <ng-container *ngFor="let unit of visualiser.units()">
          <div>
            <mat-card class="filled-unit-card w-full">
              <mat-card-content>
                This is an added unit!
                <!-- {{ unit.type }} {{ unit.subType || '' }} -->
              </mat-card-content>
            </mat-card>
          </div>
        </ng-container>

        <!-- Render mandatory slots as buttons -->
        <ng-container *ngFor="let slot of visualiser.slots()">
          <div>
            <button
              *ngIf="slot.isMandatory; else raisedButton"
              mat-flat-button
              color="primary"
              class="w-full mandatory"
              [matMenuTriggerFor]="unitMenu"
            >
              Add Unit
            </button>
            <ng-template #raisedButton>
              <button mat-raised-button color="primary" class="w-full" [matMenuTriggerFor]="unitMenu" >
                Add Unit <span *ngIf="slot.upToQty > 1">(+{{slot.upToQty}})</span>
              </button>
            </ng-template>
          </div>
          <mat-menu #unitMenu="matMenu">
            <button
              mat-menu-item
              *ngFor="let selector of visualiser.availableUnitSelectors"
              (click)="addUnit(visualiser, selector)"
            >
              {{ selector.name }} <!-- Assuming each selector has a 'name' property -->
            </button>
          </mat-menu>
        </ng-container>
      </div>
    </div>
  </div>
</div>
