<div class="max-w-screen-xl min-w-md mx-auto md:px-4">
  <div class="grid grid-cols-1 gap-3 sm:grid-cols-2 md:grid-cols-3 md:gap-4 xl:grid-cols-4">
    <div
      *ngFor="let visualiser of orchestrator.visualizers"
      [ngClass]="{
        '': visualiser.groupable,
        'col-span-full': !visualiser.groupable
      }"
    >
      <!-- Display the header for the requirement -->
      <div class="text-sm font-semibold !text-gray-600 mb-2 mt-4">
        {{ visualiser.title }}
      </div>

      <div [ngClass]="{
        '': visualiser.groupable,
        'grid grid-cols-1 gap-3 sm:grid-cols-2 md:grid-cols-3 md:gap-4 xl:grid-cols-4': !visualiser.groupable
      }">

        <!-- Render filled units as cards -->
        <ng-container *ngFor="let unit of visualiser.units()">
          <button type="button" class="flex items-center w-full h-16 rounded bg-gray-800 border border-gray-600 px-3 shadow-lg cursor-pointer hover:bg-gray-900"
          [class.border-red-400]="unit.errors?.length"
            (click)="editUnit(visualiser, unit)">
            <div class="flex-1 overflow-hidden">
                <div class="text-sm font-semibold text-gray-300 truncate w-full text-left mb-1 flex align-middle">
                  <app-icon pack="shared" icon="warning-filled" class="mr-1 text-red-400" *ngIf="unit.errors?.length"></app-icon>
                  {{unit.selector!.name}}
                </div>
                <div class="flex justify-between items-center">
                  <div>
                    <span class="text-xs text-gray-300 mr-2">
                      {{unit.countString}}
                    </span>
                    <span class="text-xs text-gray-300 bg-gray-600 rounded-sm px-2 py-0.5">
                      {{unit.experience}}
                    </span>
                  </div>
                  <span class="text-sm text-gray-200">{{unit.cost | number}} Pts</span>
                </div>
            </div>
          </button>
        </ng-container>

        <!-- Render mandatory slots as buttons -->
        <ng-container *ngFor="let slot of visualiser.slots()">
          <div class="text-sm">
            <button #mandatoryButton
              *ngIf="slot.isMandatory; else optionalButton"
              color="primary"
              class="w-full h-16 btn bg-primary-300 text-primary-900 hover:bg-primary-500 hover:text-primary-50 shadow-lg"
              [matMenuTriggerFor]="unitMenu"
            >
              <span>Add Unit</span><span class="text-red-500">*</span>
            </button>
            <ng-template #optionalButton>
              <button color="primary" class="w-full h-16 btn bg-gray-100 hover:bg-gray-200 hover:text-primary-800 shadow-lg" [matMenuTriggerFor]="unitMenu" >
                Add Unit <span *ngIf="slot.upToQty > 1">(+{{slot.upToQty}})</span>
              </button>
            </ng-template>
          </div>
          <mat-menu #unitMenu="matMenu" class="!bg-gray-50">
            <button
              mat-menu-item
              *ngFor="let selector of visualiser.availableUnitSelectors"
              (click)="addUnit(visualiser, selector)"
            >
              <div class="flex justify-between items-center">
                <span>{{ selector.name }}</span>
                <span class="ml-8 text-xs text-gray-700 whitespace-nowrap">{{ selector.defaultCost }} Pts</span>
              </div>
            </button>
          </mat-menu>
        </ng-container>
      </div>
    </div>
  </div>

  <!-- Validation Errors -->
  <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 mt-5" role="alert" *ngIf="platoon.platoonHasErrors$ | async">
    <p class="font-bold !mb-0">Invalid Unit Selection</p>
    <p class="!mb-0" *ngFor="let error of platoon.errors$ | async" [innerHTML]="error"></p>
  </div>
</div>
