<div class="d-flex align-items-center w-100 mb-2">
  <button mat-flat-button (click)="newArmy()" class="me-2">New Army</button>
  <mat-form-field class="flex-grow-1 mb-0" appearance="outline">
    <mat-icon matPrefix>search</mat-icon>
    <input class="flex-grow-1" matInput type="search" placeholder="Search..." [formControl]="search" aria-label="Search">
  </mat-form-field>
</div>

<mat-progress-bar mode="indeterminate" *ngIf="loading()"></mat-progress-bar>

<mat-nav-list>
  <ng-container *ngFor="let group of filteredGroupedArmies">
    <h3 matSubheader>{{group.faction.name}}</h3>
    @for (army of group.armies; track army) {
      <a mat-list-item [routerLink]="[army.id]">
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>{{army.name}}</div>
        <div matListItemLine>{{army.modifiedDate | date}}</div>
      </a>
    }
    <mat-divider></mat-divider>
  </ng-container>

</mat-nav-list>
