<div class="p-5 w-full">

<h2 class="font-semibold text-gray-800">{{unit.selector?.name}}</h2>

<p class="text-sm text-gray-700">{{cost() | number}} Pts</p>

<form [formGroup]="form" class="mt-3 max-w-md space-y-3" (submit)="submit()">

  <div class="inline-flex shadow rounded text-sm">
    <div class="inline-block" *ngFor="let exp of unit.selector?.availableExperienceLevels; let i = index">
      <input type="radio" [id]="exp" [value]="exp" class="hidden peer" required formControlName="experience" />
      <label [for]="exp" class="text-xs inline-block py-1 px-2.5 text-gray-500 bg-white border border-gray-200 cursor-pointer 
        peer-checked:bg-gray-600 peer-checked:text-gray-300 
        hover:text-gray-700 hover:bg-gray-100"
        [ngClass]="{
          'rounded-l-sm': i === 0,
          'rounded-r-sm': i === (unit.selector.availableExperienceLevels.length - 1)
        }">
        {{exp}}
      </label>
    </div>
  </div>

  <!-- Infantry-specific controls -->
  <ng-container *ngIf="infantryUnitSelector && infantryUnit">
    <!-- Number of Men Selection -->
    <div class="mx-w-xs">
      <label for="men" class="block mb-2 text-sm font-medium text-gray-900">Number of Men</label>
      <select id="men" formControlName="men" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
        <option *ngFor="let men of [].constructor(infantryUnitSelector.maxMen - infantryUnitSelector.baseMen + 1); let i = index" 
          [value]="infantryUnitSelector.baseMen + i">
          {{ infantryUnitSelector.baseMen + i }}
        </option>
      </select>
      <p id="helper-text-explanation" class="mt-1 text-sm text-gray-500">{{ infantryUnitSelector.costPerMan[experience] | number }} pts per man</p> 
    </div>

    <!-- Key Person Weapon Option -->
    <h3 class="font-semibold text-gray-800 mt-5">Weapons</h3>

    <div *ngIf="infantryUnit.keyPersonWeaponOptions">

      <div>
        <label for="men" class="block mb-2 text-sm font-medium text-gray-900">{{infantryUnitSelector.keyPerson}} Weapon</label>
        <select id="men" formControlName="keyPersonWeaponId"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
          <option [value]="null">Default</option>
          <option *ngFor="let option of infantryUnit.keyPersonWeaponOptions" 
            [value]="option.weaponId">
            {{ option.description ?? option.weapon.name }} ({{option.cost}} Pts)
          </option>
        </select>
      </div>
    </div>
    
  </ng-container>
 
  <div class="w-full flex justify-between items-center mt-10">
    <!-- Left-aligned Delete button -->
    <button type="button" class="btn-tertiary" (click)="delete()">
      <mat-icon>delete</mat-icon>
      Delete
    </button>
  
    <!-- Right-aligned Save and Cancel buttons -->
    <div class="flex space-x-2">
      <button type="submit" class="btn-primary">
        Save
      </button>
      <button type="button" class="btn-secondary" (click)="cancel()">
        Cancel
      </button>
    </div>
  </div>  

</form>
