<div class="p-5 w-full">

<h2 class="font-semibold text-gray-800">{{unit.selector?.name}}</h2>

<p class="text-sm text-gray-700">{{cost() | number}} Pts</p>

<form [formGroup]="form" class="mt-5" (submit)="submit()">

  <div>

  </div>

  <div class="flex w-full border-gray-200 text-sm">
    <div *ngFor="let exp of unit.selector?.availableExperienceLevels">
      <input type="radio" [id]="exp" [value]="exp" class="hidden peer" required formControlName="experience" />
      <label [for]="exp" class="p-3 py-1 text-gray-500 bg-white border border-gray-200 cursor-pointer 
        peer-checked:border-blue-600 peer-checked:text-blue-600 
        hover:text-gray-600 hover:bg-gray-100">
        {{exp}}
      </label>
    </div>
  </div>



  <!-- <div class="inline-flex rounded-md shadow-sm" role="group">
    <button *ngFor="let exp of unit.selector?.availableExperienceLevels"
      type="button"
      class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white"
      [ngClass]="{
        'bg-primary-500 text-white border-primary-500': form.get('experience')?.value === exp,
        'bg-white text-gray-800 border-gray-300': form.get('experience')?.value !== exp
      }"
      (click)="form.get('experience')?.setValue(exp)"
    >
      {{exp}}
    </button>
  </div> -->

  <div class="w-full flex space-x-2">
    <button type="button" class="btn-tertiary" (click)="delete()">
      <mat-icon>delete</mat-icon>
      Delete
    </button>
    <button type="submit" class="ml-auto btn-primary">
      Save
    </button>
    <button type="button" class="btn-secondary" (click)="cancel()">
      <!-- <mat-icon class="text-gray-500 mr-1">content_copy</mat-icon> -->
      Cancel
    </button>
  </div>

</form>
