
<div class="hidden md:hidden">
  This text should always be hidden.
</div>
<div class="block md:hidden">
  This text should be visible on small screens but hidden on medium screens and larger.
</div>

<mat-toolbar class="tertiary">
  <mat-toolbar-row>
    <div class="d-flex align-items-center">
      <mat-icon>local_fire_department</mat-icon>
      <span class="d-none d-md-inline-block">Bolt Action Builder</span>
    </div>
    <span class="nav-spacer"></span>
    <app-user-nav></app-user-nav>
  </mat-toolbar-row>
</mat-toolbar>

<div class="p-2 md:p-3">
  <router-outlet></router-outlet>
</div>
