<div>

  <nav class="border-gray-200  overflow-hidden bg-neutral-950 text-neutral-200">
    <div class="flex flex-wrap items-center justify-between py-2 px-4 w-full">
      <a routerLink="armies" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img class="mx-auto h-12 w-auto" src="../assets/images/logo.avif" alt="Night Sky Miniatures">
        <span class="self-center text-2xl whitespace-nowrap tracking-wider hidden md:inline-block">Bolt Action Force Builder</span>
      </a>
      <button data-collapse-toggle="navbar-default" [matMenuTriggerFor]="menu" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200" aria-controls="navbar-default" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
      </button>
      <mat-menu #menu="matMenu" class="!bg-white">
        <div class="bg-white">
          <a routerLink="armies" routerLinkActive="bg-gray-200 !font-normal" class="block font-semibold px-4 py-1 text-gray-700 hover:bg-primary-200 hover:text-primary-800">Armies</a>
          <a routerLink="scenarios" routerLinkActive="bg-gray-200 !font-normal" class="block font-semibold px-4 py-1 text-gray-700 hover:bg-primary-200 hover:text-primary-800">Scenarios</a>
          <div class="h-px bg-gray-200 my-2"></div>
          <app-user-nav></app-user-nav>
        </div>
      </mat-menu>
      <div class="hidden w-full ml-auto mr-1 md:block md:w-auto" id="navbar-default">
        <ul class="text-sm flex flex-row space-x-1">
          <li>
            <a routerLink="armies" routerLinkActive="bg-gray-700 !font-normal" class="block font-semibold px-4 py-1 rounded text-gray-200 hover:bg-primary-700 hover:text-primary-50">Armies</a>
          </li>
          <li>
            <a routerLink="scenarios" routerLinkActive="bg-gray-700 !font-normal" class="block font-semibold px-4 py-1 rounded text-gray-200 hover:bg-primary-700 hover:text-primary-50">Scenarios</a>
          </li>
          <li>
            <app-user-nav></app-user-nav>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="p-2 md:p-3 lg:p-5">
    <router-outlet></router-outlet>
  </div>

</div>
